* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f6f5f7;
}

a {
    text-decoration: none;
    color: black;
}

:root{
    --teal: #4EDBC1;
    --gray: #808080;
    --white: #FFFFFF;
}

/* Login CSS */
.container{
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: 0 10%;
}

.sign-in-container{
    position: absolute, sticky;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 15%;
    width: 700px;
    max-width: 100%;
    min-height: 480px;
    border: 5px solid green;
}

.sign-in-overlay{
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    margin-top: 15%;
    width: 700px;
    max-width: 100%;
    min-height: 480px;
    border: 5px solid brown;
}

.sign-in-header{
    font-size: 45px;
}

/* Home */
.home-container{
    display: flex;
    flex-direction: row;
}

.list-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    height: 50%;
    width: 350px;
}

.side-nav{
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 225px;
    height: 100%;
    padding: 20px;
   background-color: var(--teal);
    border: solid 4px blue;
}

.patient-list{
    border: solid 4px blue;
}

.clinician-list{
    border: solid 4px blue;
}