{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="home-container">

    <div class="side-nav">
        <div><a class="logolink" href="/"><h1 class="logo-title">Theraspace</h1></a></div>
        <h2>Menu</h2>
        <a class="homelink" href="/patients">Patients</a>
        <a class="homelink" href="/clinicians">Clinicians</a>
        <a class="homelink" href="/clinicians/new">Add Clinician</a>
    </div>

    <div class="list-container">
       
        <div class="clinician-list">
            <h1>Clinician Details</h1>
            
                <p>{{clinician.name}}</p>
                <p>{{clinician.discipline}}</p>

                {% for patient in patients %}
                    <p>{{patient.lastname}}, {{patient.firstname}}</p>
                {% empty %}
                    <p>This clinician currently does not have any patients.</p>
                {% endfor %}

        </div>
        
        <div class="clinician-actions">
            <a class="homelink" href="{% url 'clinician_update' clinician.pk %}">Update</a>
            <a class="homelink" href="{% url 'clinician_delete' clinician.pk %}">Delete</a>
        </div>

    </div>
    <div class="top-nav">
        <a class="homelink" href="/logout"><img src="{% static '../static/images/logout.png' %}"></img> Log Out</a>
        
    </div>
</div>
{% endblock %}