{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="home-container">

    <div class="side-nav">
        <div class="logo-container"><a class="logolink" href="/"><img class="logo-icon" src="{% static '../static/images/logo.png' %}"></img></a></div>
        <form class="search-box">
            <input class="input-search"  type="text" name="name" placeholder="Search for clinician"/>
            <input class="btn-search" type="submit" value="Search" />
        </form>
        <form>
            <div class="switch">
                <input class="switch-input" id="switch-1" type="checkbox" name="checkclinicians">
                <label class="switch-label" for="switch-1"></label>
                <input class="switch-btn" type="submit" value="Filter Vacant Records"/>
            </div>
        </form>
        <a class="homelink" href="/patients"><img class="icon" src="{% static '../static/images/record.png' %}"></img>Patients</a>
        <a class="homelink" href="/clinicians"><img class="icon" src="{% static '../static/images/license.png' %}"></img>Clinicians</a>
        <a class="homelink" href="/clinicians/new">Add Clinician</a>

    </div>

    <div class="list-container">
        <div class="clinician-list">
            <table class="patient-table">
                <h1 class="list-header">Clinician List</h1>
                <tr>
                    <th>Name</th>
                    <th>Discipline</th>
                </tr>
                {% for clinician in clinicians %}
                <tr>
                    <td><a href="{% url 'clinician_detail' clinician.pk %}">{{clinician.name}}</a></td>
                    <td>{{clinician.discipline}}</td>
                </tr>
                   
                {% endfor %}
            </table>
        </div>
        
    </div>
    <div class="top-nav">
        <a class="homelink" href="/logout"><img src="{% static '../static/images/logout.png' %}"></img> Log Out</a>
        
    </div>
</div>
{% endblock %}