{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="home-container">

    <div class="side-nav">
        <div><a class="homelink" href="/"><h1 class="logo-title">Theraspace</h1></a></div>
        <h2>Menu</h2>
        <a href="/patients">Patients</a>
        <a href="/clinicians">Clinicians</a>
        <a href="/clinicians/new">Add Clinician</a>

    </div>

    <div class="form-container">
       
        <div class="clinician-record">
            <h1>Clinician Record Form</h1>
            <form method="POST">
                {% csrf_token %}
                {{form}}
                <input type="submit" value="Submit"/>
            </form>
        </div>
    </div>
    <div class="top-nav">
        <a class="homelink" href="/logout"><img src="{% static '../static/images/logout.png' %}"></img> Log Out</a>
        
    </div>
</div>
{% endblock %}