{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="home-container">

    <div class="side-nav">
        <div><a class="homelink" href="/"><h1 class="logo-title">Theraspace</h1></a></div>
        
        <h2>Menu</h2>
        <a class="homelink" href="/patients">Patients</a>
        <a class="homelink" href="/clinicians">Clinicians</a>
        <a class="homelink" href="patients/new">Add Patient</a>
        <a class="homelink" href="clinicians/new">Add Clinician</a>
    </div>

    <div class="list-container">
       
        <div class="patient-list">
            <table class="patient-table">
            <h1 class="list-header">Patients</h1>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Age</th>
                </tr>
            {% for patient in patients %}
                <tr>
                    <td>{{patient.firstname}}</td>
                    <td>{{patient.lastname}}</td>
                    <td>{{patient.age}}</td>
                </tr>
            {% endfor %}
               
            </table>
        </div>

        <div class="clinician-list">
            
            <table class="clinician-table">
                <h1 class="list-header">Clinicians</h1>
                <tr>
                    <th>Name</th>
                    <th>Discipline</th>
                </tr>
            {%for clinician in clinicians %}
                <tr>
                    <td>{{clinician.name}}</td>
                    <td>{{clinician.discipline}}</td>
                </tr>
            {% endfor %}
            </table>
        </div>
    </div>
    <div class="top-nav">
        <a class="homelink" href="/logout"><img src="{% static '../static/images/logout.png' %}"></img> Log Out</a>
        
    </div>

</div>
{% endblock %}