{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="sign-in-container">
        <div>
        <h1 class="sign-in-header">Sign in</h1>
        </div>

        <div class="form-container">
        <form method="POST">
            {% csrf_token %}
            <label for="username">Username</label>{{form.username}}
            <label for="password">Password</label>{{form.password}}
            <input class="btn" type="submit" value="Sign In" />
        </form>
        </div>
        {% if form.errors %}
        <div>
            <h1></h1>{{form.errors}}</p>
        </div>   
        {% endif %}
    </div>
  
    <div class="sign-in-overlay">
        <h1 class="sign-in-header">Welcome To Theraspace</h1>
        <p class="sub-header">Enter your details and start your journey with us</p>
        <a class="btn" href="/signup">Sign Up</a>
    </div>

</div>  
{% endblock %}