{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="home-container">

    <div class="side-nav">
        <a href="/"><h1>Theraspace</h1></a>
        <h2>Menu</h2>
        <a href="/patients">Patients</a>
        <a href="/clinicians">Clinicians</a>
    </div>

    <div class="list-container">
       
        <div class="patient-list">
            <h1>Patient Details</h1>
            
                <p>{{patient.firstname}}</p>
                <p>{{patient.age}}</p>
                <p>{{patient.address}}</p>
                <p>{{patient.zip}}</p>
                <p>{{patient.diagnosis}}</p>
                <p>{{patient.clinician.all}}</p>
        </div>
        
        <div class="patient-actions">
            <a href="{% url 'patient_update' patient.pk %}">Update</a>
            <a href="{% url 'patient_delete' patient.pk %}">Delete</a>
        </div>

    </div>
</div>
{% endblock %}