{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="home-container">

    <div class="side-nav">
        <div><a class="logolink"     href="/"><h1 class="logo-title">Theraspace</h1></a></div>
        <h2>Menu</h2>
        <a class="homelink" href="/patients">Patients</a>
        <a class="homelink" href="/clinicians">Clinicians</a>
    </div>

    <div class="list-container">
       
        <div class="patient-list">
            <h1 class="list-header">Patient Details</h1>
            <div class="record-info">
                <h1>{{patient.lastname}}, {{patient.firstname}}</h1>
                <h3>Age: {{patient.age}}</h3>
                <p>Address: {{patient.address}}</p>
                <p>Zip: {{patient.zip}}</p>
                <p>Diagnosis: {{patient.diagnosis}}</p>
                <p>Record Created: {{patient.date_created}}</p>
                <p>Record Updated: {{patient.date_updated}}</p>
                {% for clinician in patient.clinician.all %}
                <h3>Assigned Clinician/s:</h3>
                <p>{{clinician.name}}</p>
                <p>{{clinician.discipline}}</p>
                {% empty %}
                <p>Patient has no assigned   clinicians.</p>
                {% endfor %}
            </div>
            <div class="patient-actions">
                <a class="homelink" href="{% url 'patient_update' patient.pk %}">Update</a>
                <a class="homelink" href="{% url 'patient_delete' patient.pk %}">Delete</a>
            </div>
        </div>
        
   

    </div>
    <div class="top-nav">
        <a class="homelink" href="/logout"><img src="{% static '../static/images/logout.png' %}"></img> Log Out</a>
        
    </div>
</div>
{% endblock %}