{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="home-container">

    <div class="side-nav">
        <div><a class="homelink" href="/"><h1 class="logo-title">Theraspace</h1></a></div>
        <h2>Menu</h2>
        <form class="search-box">
            <input class="input-search" type="text" name="name" placeholder="Search for patient"/>
            <input class="btn-search" type="submit" value="Search" />
        </form>
        <form>
            <div class="switch">
                <input class="switch-input" id="switch-1" type="checkbox" name="checkpatients">
                <label class="switch-label" for="switch-1"></label>
                <input class="switch-btn" type="submit" value="Filter"/>
            </div>
        </form>
        <a href="/patients">Patients</a>
        <a href="/clinicians">Clinicians</a>
        <a href="/patients/new">Add Patient</a>

    </div>

    <div class="list-container">
       
        <div class="patient-list">
            <table class="patient-table">
                <h1 class="list-header">Patient List</h1>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Age</th>
                        <th>Gender</th>
                        <th>Diagnosis</th>
                    </tr>
                {% for patient in patients %}
                    <tr>
                        
                        <td>{{patient.firstname}}</td>
                        <td>{{patient.lastname}}</td>
                        <td>{{patient.age}}</td>
                        <td>{{patient.gender}}</td>
                        <td>{{patient.diagnosis}}</td>
                
                    </tr>
                {% endfor %}
            </table>
        </div>
        
    </div>
    <div class="top-nav">
        <a class="homelink" href="/logout"><img src="{% static '../static/images/logout.png' %}"></img> Log Out</a>
        
    </div>
</div>
{% endblock %}