{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="home-container">

    <div class="side-nav">
        <div><a class="logolink" href="/"><h1 class="logo-title">Theraspace</h1></a></div>
        <h2>Menu</h2>
        <a class="homelink" href="/patients">Patients</a>
        <a class="homelink" href="/clinicians">Clinicians</a>
        <a class="homelink" href="/patients/new">Add Patient</a>

    </div>

    <div class="record-container">
        <h1 class="list-header">Patient Record Form</h1>
            <div class="patient-record">
                <form method="POST">
                    {% csrf_token %}
                    {{form}}
                    <input class="form-btn" type="submit" value="Submit"/>
                </form>
            </div>
        
    </div>
    <div class="top-nav">
        <a class="homelink" href="/logout"><img src="{% static '../static/images/logout.png' %}"></img> Log Out</a>
        
    </div>
</div>
{% endblock %}