{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="home-container">

    <div class="side-nav">
        <div class="logo-container"><a class="logolink" href="/"><img class="logo-icon" src="{% static '../static/images/logo.png' %}"></img></a></div>
        <a class="homelink" href="/patients"><img class="icon" src="{% static '../static/images/record.png' %}"></img>Patients</a>
        <a class="homelink" href="/clinicians"><img class="icon" src="{% static '../static/images/license.png' %}"></img>Clinicians</a>
        <a class="homelink" href="/patients/new">Add Patient</a>

    </div>

    <div class="record-container">
        <h1 class="list-header">Patient Record Form</h1>
            <div class="patient-record">
                <form method="POST">
                    {% csrf_token %}
                    {{form}}
                    <input class="form-btn" type="submit" value="Submit"/>
                </form>
            </div>
        
    </div>
    <div class="top-nav">
        <a class="homelink" href="/logout"><img src="{% static '../static/images/logout.png' %}"></img> Log Out</a>
        
    </div>
</div>
{% endblock %}