{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="home-container">

    <div class="side-nav">
        <div class="logo-container"><a class="logolink" href="/"><img class="logo-icon" src="{% static '../static/images/logo.png' %}"></img></a></div>
        <a class="homelink" href="/patients"><img class="icon" src="{% static '../static/images/record.png' %}"></img>Patients</a>
        <a class="homelink" href="/clinicians"><img class="icon" src="{% static '../static/images/license.png' %}"></img>Clinicians</a>

    </div>

    <div class="record-container">
        <div>
            <h1>Delete Patient Record?</h1>
            <form method="POST">
                {% csrf_token %}
                {{form}}
                <input class="delete-btn" type="submit" value="Delete"/>
                <a class="form-btn" href="{% url 'patient_detail' patient.pk %}">Cancel</a>
            </form>
        </div>
        
    </div>
    <div class="top-nav">
        <a class="homelink" href="/logout"><img src="{% static '../static/images/logout.png' %}"></img> Log Out</a>
        
    </div>
</div>
{% endblock %}