{% extends 'base.html' %}
{% block content %}

<div class="container">
<div class="sign-in-container">
    <h1 class="sign-in-header">Welcome Back</h1>
    <p>To keep connected, please login with your information</p>
    <a class="btn" href="/login">Log In</a>
</div>


<div class="sign-in-overlay">
    <h1 class="sign-in-header">Sign Up</h1>
    <div class="form-container">
        <form method="POST">
        {% csrf_token %}
            <label for="password">Username</label> {{form.username}}
            <label for="password">Password</label>{{form.password1}}
            <label for="password">Verify Password</label>{{form.password2}}
            <input class="btn" type="submit" value="Sign Up" />
        </form>
    </div>
    {% if form.errors %}
        <div class="error-div">
            <p>{{form.errors}}</p>
        </div>   
    {% endif %}
</div>

</div>  

{% endblock %}