{% extends 'base.html' %}
{% block content %}

<div class="container">
    
    {% if form.non_field_errors %}
    <ul>
        {% for error in form.non_field_errors %}
    {% endfor %}
    </ul>
    {% endif %}

    {{form.errors}}

<div class="sign-in-container">
    <h1 class="sign-in-header">Welcome Back</h1>
    <p>To keep connected, please login with your information</p>
    <a class="btn" href="/login">Log In</a>
</div>



{{form.errors}}
<div class="sign-in-overlay">
    <h1 class="sign-in-header">Sign Up</h1>

    {% if form.non_field_errors %}
    <ul>
        {% for error in form.non_field_errors %}
    {% endfor %}
    </ul>
    {% endif %}

    <form method="POST">
    {% csrf_token %}

  
    <label for="password">Username</label> {{form.username}}
    
    <label for="password">Password</label>{{form.password1}}
    
    <label for="password">Verify Password</label>{{form.password2}}
    <input class="btn" type="submit" value="Sign Up" />
    </form>
</div>

</div>  

{% endblock %}